In [1]:
"""
Fill in the gaps in the initials function so that it returns the initials of the words contained in the
phrase received, in upper case. For example: "Universal Serial Bus" should return "USB"; "local 
area network" should return "LAN”.
"""

def initials(phrase):
    words = phrase.split()
    result = ""
    for word in words:
        result += word[0]
    return result.upper()

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

USB
LAN
OS

In [4]:
# formatting strings
name = 'Manny'
number = len(name)*3
print('Hello {}, your lucky nuber is {}'.format(name, number))

Hello Manny, your lucky nuber is 15

In [5]:
print('Your lucky number is {number}, {name}.'.format(name=name, number=len(name)*3))

Your lucky number is 15, Manny.

In [6]:
def student_grade(name, grade):
	return "{name} received {grade}% on the exam".format(name=name, grade=grade)

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam
Paige received 92% on the exam
Jesse received 85% on the exam

In [9]:
# format output to only 2 decimal places
price = 7.5
with_tax = price * 1.09
print('Base price: ${:.2f}. With Tax: ${:.2f}'.format(price, with_tax))

Base price: $7.50. With Tax: $8.18

In [10]:
def to_celsius(x):
    return (x-32)*5/9


for x in range(0,101,10):
    print('{:>3} F | {:>6.2f} C'.format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

In [11]:
# "base string with {} placeholders".format(variables)

example = "format() method"

formatted_string = "this is an example of using the {} on a string".format(example)

print(formatted_string)

"""Outputs:
this is an example of using the format() method on a string
"""

this is an example of using the format() method on a string

'Outputs:\nthis is an example of using the format() method on a string\n'

In [12]:
# "{0} {1}".format(first, second)

first = "apple"
second = "banana"
third = "carrot"

formatted_string = "{0} {2} {1}".format(first, second, third)

print(formatted_string)

"""Outputs:
apple carrot banana
"""

apple carrot banana

'Outputs:\napple carrot banana\n'

In [13]:
# "{var1} {var2}".format(var1=value1, var2=value2)
"{:exp1} {:exp2}".format(value1, value2)

NameError: name 'value1' is not defined

In [ ]:
# {:d} integer value
'{:d}'.format(10.5) → '10'

In [14]:
def is_palindrome(input_string):
	# We'll create two strings, to compare them
	new_string = ""
	reverse_string = ""
	# Traverse through each letter of the input string
	for letter in input_string:
		# Add any non-blank letters to the 
		# end of one string, and to the front
		# of the other string. 
		if letter != ' ':
			new_string = new_string + letter
			reverse_string = letter + reverse_string
	# Compare the strings
	if new_string.lower() == reverse_string.lower():
		return True
	return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

In [15]:
"""
Question 4
Fill in the gaps in the nametag function so that it uses the format method 
to return first_name and the first initial of last_name followed by a period. 
For example, nametag("Jane", "Smith") should return "Jane S."
"""

def nametag(first_name, last_name):
	return("{} {}.".format(first_name, last_name[0]))

print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G."

Jane S.
Francesco R.
Jean-Luc G.

In [16]:
"""
The replace_ending function replaces the old string in a sentence with the new string,
but only if the sentence ends with the old string. 
If there is more than one occurrence of the old string in the sentence, 
only the one at the end is replaced, not all of them.
For example, replace_ending("abcabc", "abc", "xyz") should return abcxyz, not xyzxyz or xyzabc.
The string comparison is case-sensitive, so replace_ending("abcabc", "ABC", "xyz") 
should return abcabc (no changes made). 
"""

def replace_ending(sentence, old, new):
	# Check if the old string is at the end of the sentence 
	if sentence.endswith(old):
		# Using i as the slicing index, combine the part
		# of the sentence up to the matched string at the 
		# end with the new string
		i = len(old)
		new_sentence = sentence[:-i] + new
		return new_sentence

	# Return the original sentence if there is no match 
	return sentence
	
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

It's raining cats and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April

In [18]:
winners = ['Ashely', 'Dylan', 'Reese']
for index, person in enumerate(winners):
    print('{} - {}'.format(index+1, person))

1 - Ashely
2 - Dylan
3 - Reese

In [19]:
def skip_elements(elements):
	# code goes here
	lst = []
	for index, item in enumerate(elements):
		if index%2 == 0:
			lst.append(item)
	return lst

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [22]:
def full_emails(people):
    result = []
    for email, name in people:
        result.append('{} <{}>'.format(name, email))
    return result

print(full_emails([('alex@example.com', 'Alex Diego')]))

['Alex Diego <alex@example.com>']

In [23]:
# list comprehension
multiples = []
for x in range(1,11):
    multiples.append(x*7)
    
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [24]:
multiples = [x*7 for x in range(1,11)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [25]:
def odd_numbers(n):
	return [x for x in range(1,n+1) if x%2 != 0]

print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []

[1, 3, 5]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1]
[]

In [26]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames = []
for name in filenames:
    i = name.index('.')
    if name[i:] == '.hpp':
        new_name = name[:i] + '.h'
        newfilenames.append(new_name)
    else:
        newfilenames.append(name)

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [27]:
def pig_latin(text):
  say = ""
  # Separate the text into words
  words = text.split()
  lst = []
  for word in words:
    # Create the pig latin word and add it to the list
    first = word[0]
    word = word[1:] + first + 'ay '
    # Turn the list back into a phrase
    lst.append(word)  
  return say.join(lst)
		
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

In [28]:
"""
The permissions of a file in a Linux system are split into three sets of three permissions: 
read, write, and execute for the owner, group, and others. 
Each of the three values can be expressed as an octal number summing each permission, 
with 4 corresponding to read, 2 to write, and 1 to execute. 
Or it can be written with a string using the letters r, w, and x or - when the permission is not granted.
"""

def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    # Iterate over each of the digits in octal
    for i in [int(n) for n in str(octal)]:
        # Check for each of the permissions values
        for value, letter in value_letters:
            if i >= value:
                result += letter
                i -= value
            else:
                result += '-'
    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

rwxr-xr-x
rw-r--r--
rwxr-x---
rw-------

In [29]:
def guest_list(guests):
	for x in guests:
		name = x[0]
		age = x[1]
		job = x[2]
		print('{} is {} years old and works as {}'.format(name, age, job))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'

In [30]:
def group_list(group, users):
  members = ', '.join(users)
  return '{}: {}'.format(group, members)

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Engineering: Kim, Jay, Tom
Users:

In [31]:
toc = {"Introduction":1, "Chapter 1":4, "Chapter 2":11, "Chapter 3":25, "Chapter 4":30}
toc["Epilogue"]= 39 # Epilogue starts on page 39
toc['Chapter 3'] = 24 # Chapter 3 now starts on page 24
print(toc) # What are the current contents of the dictionary?
print('Chapter 5' in toc)# Is there a Chapter 5?

{'Introduction': 1, 'Chapter 1': 4, 'Chapter 2': 11, 'Chapter 3': 24, 'Chapter 4': 30, 'Epilogue': 39}
False

In [33]:
file_counts = {'jpg':10, 'txt':14, 'csv':2, 'py':23}
for ext in file_counts:
    print(ext)

jpg
txt
csv
py

In [34]:
for ext, amount in file_counts.items():
    print('there are {} files with the .{} extension'.format(amount,ext))

there are 10 files with the .jpg extension
there are 14 files with the .txt extension
there are 2 files with the .csv extension
there are 23 files with the .py extension

In [35]:
file_counts.keys()

dict_keys(['jpg', 'txt', 'csv', 'py'])

In [36]:
file_counts.values()

dict_values([10, 14, 2, 23])

In [37]:
for value in file_counts.values():
    print(value)

10
14
2
23

In [38]:
def count_letters(text):
    result = {}
    for letter in text:
        if letter not in result:
            result[letter]=0
        result[letter]+=1
    return result

In [39]:
count_letters('aaaa')

{'a': 4}

In [40]:
count_letters(' a long string with a lot of letters')

{' ': 8,
 'a': 2,
 'l': 3,
 'o': 3,
 'n': 2,
 'g': 2,
 's': 2,
 't': 5,
 'r': 2,
 'i': 2,
 'w': 1,
 'h': 1,
 'f': 1,
 'e': 2}

In [41]:
wardrobe = {"shirt":["red","blue","white"], "jeans":["blue","black"]}
for key, value in wardrobe.items():
	for item in value:
		print("{} {}".format(item, key))

red shirt
blue shirt
white shirt
blue jeans
black jeans

In [42]:
def email_list(domains):
	emails = []
	for key, users in domains.items():
	  for user in users:
	    emails.append(str(user)+ '@'+str(key))
	return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com', 'barbara.gordon@yahoo.com', 'jean.grey@yahoo.com', 'bruce.wayne@hotmail.com']

In [43]:
def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for group, users in group_dictionary.items():
		# Now go through the users in the group
		for user in users:
			# Now add the group to the the list of
# groups for this user, creating the entry
# in the dictionary if necessary
			if user not in user_groups:
				user_groups[user]=[]
			user_groups[user].append(group)
	return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [44]:
def add_prices(basket):
	# Initialize the variable that will be used for the calculation
	total = 0
	# Iterate through the dictionary items
	for items in basket.values():
		# Add each price to the total calculation
		# Hint: how do you access the values of
		# dictionary items?
		total += items
	# Limit the return value to 2 decimal places
	return round(total, 2)  

groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, 
	"coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

print(add_prices(groceries)) # Should print 28.44

28.44

In [19]:
"""
The format_address function separates out parts of the address string into new strings: 
house_number and street_name, and returns: "house number X on street named Y".
The format of the input string is: numeric house number, followed by 
the street name which may contain numbers, but never by themselves, and could be several words long.
For example, "123 Main Street", "1001 1st Ave", or "55 North Center Drive". 
Fill in the gaps to complete this function.
"""

def format_address(address_string):
  # Declare variables
  house_number = str()
  street_name = str()
  # Separate the address string into parts
  address = address_string.split()
  # Traverse through the address parts
  for index in address:
    # Determine if the address part is the
    # house number or part of the street name
    if index.isdigit():
      house_number = index
    else:
      street_name +=index
      street_name += ' '
  # Does anything else need to be done 
  # before returning the result?
  
  # Return the formatted string  
  return "house number {} on street named {}".format(house_number, street_name)

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on street named Main Street
house number 1001 on street named 1st Ave
house number 55 on street named North Center Drive

In [2]:
"""
The highlight_word function changes the given word in a sentence to its upper-case version.
For example, highlight_word("Have a nice day", "nice") returns "Have a NICE day".
Can you write this function in just one line?
"""

def highlight_word(sentence, word):
	return(sentence.replace(word, word.upper()))

print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

In [3]:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  # Followed by the elements of list1 in reverse order
  rvs_list_1 = list1[::-1]
  attendence = list2 + rvs_list_1
  return attendence
	
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

print(combine_lists(Jamies_list, Drews_list))

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

In [4]:
def squares(start, end):
	return [ x*x for x in range(start, end+1) ]

print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
def car_listing(car_prices):
  result = ""
  for key, value in car_prices.items():
    result += "{} costs {} dollars".format(key, value)+ "\n"
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Kia Soul costs 19000 dollars
Lamborghini Diablo costs 55000 dollars
Ford Fiesta costs 13000 dollars
Toyota Prius costs 24000 dollars

In [17]:
"""
Taylor and Rory are hosting a party. They sent out invitations, 
and each one collected responses into dictionaries, with names of their friends 
and how many guests each friend is bringing. Each dictionary is a partial list, 
but Rory's list has more current information about the number of guests. 
Fill in the blanks to combine both dictionaries into one, with each friend listed only once, 
and the number of guests from Rory's dictionary taking precedence, 
if a name is included in both dictionaries. Then print the resulting dictionary.
"""

def combine_guests(guests1, guests2):
  # Combine both dictionaries into one, with each key listed 
  # only once, and the value from guests1 taking precedence
  guests2.update(guests1)
  return guests2

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

In [20]:
def count_letters(text):
  result = {}
  text = text.lower()
  # Go through each letter in the text
  for letter in text:
    # Check if the letter needs to be counted or not
    if letter.isalpha():
      if letter not in result:
        result[letter] = 0
    # Add or increment the value in the dictionary
      result[letter]+=1
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

{'a': 2, 'b': 2, 'c': 2}
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

In [14]:
animal = "Hippopotamus"

print(animal[3:6])
print(animal[-5])
print(animal[10:])

pop
t
us

In [16]:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
print(colors)

['red', 'white', 'yellow', 'blue']